# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
<ul>
<li>Popular languages in data science</li>
<li>Commonly used libraries</li>
<li>Use of Jupyter Notebook</li>
<li>List of Tools</li>
<li>Arithmetic Expression</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. JavaScript
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit learn

| Data Science Tools |
|:------------------:|
| Apache Spark
D3.js
IBM SPSS

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author

Shaniya Mulla